<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>EventifyMIT</title>
      <link rel="icon" href="../img/Logo.png" type="image/x-icon" />
      <link rel="stylesheet" href="../css/reset.css" />
      <link rel="stylesheet" href="../css/headerFooter.css" />
      <link rel="stylesheet" href="../css/create.css" />
      <link rel="stylesheet" href="../bootstrap-5.3.3/css/bootstrap.css" />
      <script defer src="../js/formSubmit.js"></script>
      <script defer src="../bootstrap-5.3.3/js/bootstrap.js"></script>
   </head>
   <body>
      <%- include("layout/header")%>

      <main>
         <div class="event-container d-flex justify-content-center">
            <form
               class="eventForm"
               id="eventForm"
               onsubmit="event.preventDefault(); formSubmit('eventForm', '/user/create');"
            >
               <label for="name">Event Name</label>
               <input type="text" id="name" name="name" required />

               <label for="description">Description</label>
               <textarea
                  type="text"
                  id="description"
                  name="description"
                  placeholder="Enter a brief description of the event"
                  required
               ></textarea>

               <label for="start_date">Start Date</label>
               <input type="date" id="start_date" name="start_date" required />

               <label for="start_time">Start Time</label>
               <input type="time" id="start_time" name="start_time" required />

               <label for="end_date">End Date</label>
               <input type="date" id="end_date" name="end_date" required />

               <label for="end_time">End Time</label>
               <input type="time" id="end_time" name="end_time" required />

               <label for="venue">Venue</label>
               <input
                  type="text"
                  id="venue"
                  name="venue"
                  placeholder="ACADEMIC BLOCK-X XXX"
                  required
               />

               <label for="deadline_date">Deadline</label>
               <input
                  type="date"
                  id="deadline_date"
                  name="deadline_date"
                  required
               />

               <label for="deadline_time">Deadline Time</label>
               <input
                  type="time"
                  id="deadline_time"
                  name="deadline_time"
                  required
               />

               <label for="fee">Fee</label>
               <input
                  id="number"
                  id="fee"
                  name="fee"
                  placeholder="Enter 0 if free"
                  type="number"
                  min="0"
                  max="100000"
                  required
               />

               <label class="eventType">Event Type</label>
               <select name="event_type_id" id="eventType" class="form-select">
                  <option selected disabled>Choose an Event Type</option>
                  <% eventTypes.forEach((event) => { %>
                  <option value="<%= event.id %>"><%= event.name %></option>
                  <% }); %>
               </select>

               <input type="submit" value="Create" class="btn btn-primary" />
            </form>
         </div>
      </main>

      <%- include("layout/footer")%>
   </body>
</html>
