<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>EventifyMIT</title>
      <link rel="icon" href="../img/Logo.png" type="image/x-icon" />
      <link rel="stylesheet" href="../css/reset.css" />
      <link rel="stylesheet" href="../css/headerFooter.css" />
      <link rel="stylesheet" href="../css/create.css" />
      <script defer src="../js/minEventCard.js"></script>
      <link rel="stylesheet" href="../bootstrap-5.3.3/css/bootstrap.css" />
      <script defer src="../bootstrap-5.3.3/js/bootstrap.js"></script>
   </head>
   <body>
      <%- include("layout/header")%>

      <main>
         <main>
            <div class="event-container d-flex justify-content-center">
               <form action="/submit_form" method="post" class="eventForm">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" required />

                  <label for="description">Description</label>
                  <textarea
                     type="text"
                     id="description"
                     name="description"
                     required
                  ></textarea>

                  <label for="date">Date</label>
                  <input type="date" id="date" name="date" required />

                  <label for="time">Time</label>
                  <input type="time" id="time" name="time" required />

                  <label for="venue">Venue</label>
                  <input type="text" id="venue" name="venue" required />

                  <label for="fee">Fee</label>
                  <input
                     id="text"
                     id="fee"
                     name="fee"
                     placeholder="Enter 0 if free"
                     required
                  />

                  <label class="eventLabel">Event Type</label>
                  <div class="checkbox-group">
                     <div>
                        <input
                           type="checkbox"
                           id="cultural"
                           name="eventType"
                           value="cultural"
                        />
                        <label for="cultural">Cultural</label>
                     </div>
                     <div>
                        <input
                           type="checkbox"
                           id="workshop"
                           name="eventType"
                           value="workshop"
                        />
                        <label for="workshop">Workshop</label>
                     </div>
                     <div>
                        <input
                           type="checkbox"
                           id="sports"
                           name="eventType"
                           value="sports"
                        />
                        <label for="sports">Sports</label>
                     </div>
                     <div>
                        <input
                           type="checkbox"
                           id="talk"
                           name="eventType"
                           value="talk"
                        />
                        <label for="talk">Talk</label>
                     </div>
                  </div>

                  <input
                     type="submit"
                     value="Register"
                     class="btn btn-primary"
                  />
               </form>
            </div>
         </main>
      </main>

      <%- include("layout/footer")%>
   </body>
</html>
