<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>EventifyMIT</title>
      <link rel="icon" href="../img/Logo.png" type="image/x-icon" />
      <link rel="stylesheet" href="../css/reset.css" />
      <link rel="stylesheet" href="../css/headerFooter.css" />
      <link rel="stylesheet" href="../css/dashboard.css" />
      <script defer src="../js/dashboard.js"></script>
      <link rel="stylesheet" href="../bootstrap-5.3.3/css/bootstrap.css" />
      <script defer src="../bootstrap-5.3.3/js/bootstrap.js"></script>
   </head>
   <body>
      <%- include("layout/header")%>

      <main>
         <div class="profile-container">
            <div class="profile-header">
               <h1>Palak Agarwal</h1>
               <p>Attendee</p>
            </div>
            <div class="profile-picture">
               <img src="image.jpg" alt="Profile Picture" />
            </div>
            <div class="profile-info">
               <h2>About Me</h2>
               <ul>
                  <li><span>Email:</span> palak.agarwal@example.com</li>
                  <li><span>Registration No:</span> 123456789</li>
                  <li><span>Phone:</span> +1234567890</li>
                  <li><span>Hobbies:</span> Reading, Traveling</li>
                  <li><span>Address:</span> Active Acres, Kolkata</li>
               </ul>
            </div>
            <form action="/logout?_method=DELETE" method="post">
               <button class="btn btn-primary" type="submit">Log Out</button>
            </form>
         </div>
      </main>

      <%- include("layout/footer")%>
   </body>
</html>
