header {
   position: fixed;
}

main {
   padding: 0;
}

.main__div--arrow {
   display: flex;
   align-items: center;
   color: #8645ff;
   gap: 6px;
}

.main__div--arrow::after {
   align-self: center;
   height: 40px;
   width: auto;
   content: url("../img/home/arrow1.svg");
   transition: all 0.25s;
}

.main__div--arrow:hover::after {
   transform: translateX(5px);
   content: url("../img/home/arrow.svg");
}
