<footer
   class="d-flex flex-wrap justify-content-between align-items-center px-4 py-4 border-top"
>
   <div class="col-md-6 d-flex align-items-center">
      <a
         href="/"
         class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      >
         <img src="../img/Logo.png" alt="logo" width="35" height="35" />
      </a>
      <p class="mb-3 mb-md-0 text-body-secondary">
         Copyright &copy;
         <span class="text-body-secondary">2024</span>
         <span class="mb-3 mb-md-0 px-1 text-body-secondary"> | </span>
         EventifyMIT
         <span class="mb-3 mb-md-0 px-1 text-body-secondary"> | </span>
         All rights reserved
      </p>
   </div>

   <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
         <a class="text-body-secondary" href="#"
            ><img
               src="../img/home/twitter.png"
               alt="twitter"
               width="35"
               height="35"
         /></a>
      </li>
      <li class="ms-3">
         <a class="text-body-secondary" href="#"
            ><img
               src="../img/home/instagram.png"
               alt="twitter"
               width="35"
               height="35"
         /></a>
      </li>
      <li class="ms-3">
         <a class="text-body-secondary" href="#"
            ><img
               src="../img/home/github.png"
               alt="twitter"
               width="35"
               height="35"
         /></a>
      </li>
      <li class="ms-3">
         <a class="text-body-secondary" href="#"
            ><img
               src="../img/home/facebook.png"
               alt="twitter"
               width="35"
               height="35"
         /></a>
      </li>
   </ul>
</footer>
